body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 75%;
}

.titles{
    display: flex;
    gap: 500px;
}

.gameboards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.playerGameboard{
    display: grid;
    background-color: aqua;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.cpuGameboard{
    display: grid;
    background-color: aqua;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.playerShip{
    background-color: black;
}

/* A class for hits */
.hit{
    background-color: red;
}
/* A class for misses */
.miss{
    background-color: green;
}

.victoryBanner1{

}

.victoryBanner2{
    
}

#shipPLacementForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30vw;
    top: 30vh;
    right: 100px;
    background-color: blueviolet;
    width: 500px;
    height: 300px;
}
